<div class="min-h-screen flex flex-col items-center justify-center bg-gray-800 px-6 py-12 text-center">
  <h1 class="text-3xl font-extrabold text-yellow-500 mb-6">
    🍶日本酒ログ管理アプリへようこそ🌙
  </h1>
  <h2 class="text-xl font-extrabold text-yellow-600 mb-6">
    日本酒の評価にうるさい人の意見を気にせず、自分だけの気軽なメモとして使えるシンプルな記録アプリ。<br>評価やコメントを最低限にして、誰でも続けやすく日本酒の敷居を下げることを目指しています。
  </h2>
  <ul class="max-w-xl text-left text-gray-200 list-disc list-inside mb-8">
    <li>シンプルな記録機能</li>
    <li>銘柄、味、メモを自由に記録</li>
    <li>スマホ対応、シンプルで見やすいデザイン</li>
    <li>メモアプリなので手軽に使える</li>
  </ul>

  <div class="space-x-4">
    <%= link_to "新規登録", new_user_registration_path, class: "px-6 py-3 bg-yellow-600 text-white rounded-md hover:bg-yellow-700" %>
    <%= link_to "ログイン", new_user_session_path, class: "px-6 py-3 border border-yellow-600 text-yellow-600 rounded-md hover:bg-yellow-700 hover:text-white" %>
  </div>

  <%# <div class="mt-12 max-w-3xl w-full">
    <img src="/images/sample_sake_app.png" alt="サービスイメージ" class="mx-auto rounded-lg shadow-md" />
  </div> %>
</div>
