<div class="min-h-screen flex flex-col items-center justify-center bg-gray-800 px-6 py-12 text-center">
  <h1 class="text-3xl font-extrabold text-yellow-500 mb-6">
    🍶日本酒ログ管理アプリへようこそ🌙
  </h1>
  <h2 class="text-xl font-extrabold text-yellow-600 mb-6">
    日本酒を周りの評価や意見を気にせず、自分だけの気軽なメモとして使えるシンプルな記録アプリ。<br>評価やコメントを最低限にして、誰でも続けやすく日本酒の敷居を下げることを目指しています。
  </h2>
  <ul class="max-w-xl text-left text-gray-200 list-disc list-inside mb-8">
    <li>シンプルな記録機能</li>
    <li>銘柄、味、メモをスマホからちゃちゃっと記録</li>
    <li>薄暗い店でも眩しくないデザイン</li>
    <li>銘柄の名前が読めない?..大丈夫！入力補完で79000種以上の中から探します!!</li>
  </ul>

  <div class="space-x-4">
    <%= link_to "新規登録", new_user_registration_path, class: "px-6 py-3 bg-yellow-600 text-white rounded-md hover:bg-yellow-700" %>
    <%= link_to "ログイン", new_user_session_path, class: "px-6 py-3 border border-yellow-600 text-yellow-600 rounded-md hover:bg-yellow-700 hover:text-white" %>
  </div>

  <div class="mt-12 max-w-3xl w-full">
    <img src="/images/QR_TKL.png" alt="QRコード" class="mx-auto rounded-lg shadow-md" />
    <p class="text-gray-400 mt-4">
      👆スマホ用QRコード👆
  </div>
</div>
