<div class="space-y-4 text-gray-50">
  <%# 銘柄 %>
  <div class="flex-nowrap gap-x-2 text-gray-50">
    <strong class="w-24 font-medium text-xl">銘柄:</strong>
    <span class="font-medium text-xl"><%= sake_log.name %></span>
  </div>

  <%# 味 %>
  <div class="flex-nowrap gap-x-2 text-gray-50">
    <strong class="w-24 font-medium text-xl">味:</strong>
    <span class="font-medium text-xl"><%= sake_log.taste %></span>
  </div>

  <%# メモ %>
  <div class="flex-nowrap gap-x-2 text-gray-50">
    <strong class="w-24 font-medium text-xl">メモ:</strong>
    <span class="font-medium text-xl"><%= sake_log.memo %></span>
  </div>
</div>
