<div id="<%= dom_id sake_log %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= sake_log.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Taste:</strong>
    <%= sake_log.taste %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Memo:</strong>
    <%= sake_log.memo %>
  </p>
</div>
