<% content_for :title, "Sake logs" %>

<div class="w-full px-4 sm:px-6">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice">
      <%= notice %>
    </p>
  <% end %>

  <div class="flex justify-between items-center mb-6">
    <h1 class="font-bold text-3xl sm:text-4xl">Sake logs</h1>
    <%= link_to "New sake log", new_sake_log_path,
        class: "rounded-md px-4 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
  </div>

  <% if @sake_logs.any? %>
    <div id="sake_logs" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      <% @sake_logs.each do |sake_log| %>
        <div class="border border-gray-200 rounded-xl shadow-sm p-4 bg-white">
          <%= render sake_log %>

          <div class="mt-3">
            <%= link_to "Show this sake log", sake_log,
                class: "mt-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-center my-10 text-gray-500">No sake logs found.</p>
  <% end %>
</div>
