<footer class="relative bg-gray-950 py-4 mt-10 border-t text-sm text-gray-300">
  <div class="text-center">
    &copy; <%= Time.current.year %> TOKK_LOG.<br><a href="https://sakenowa.com">さけのわデータ</a>を加工して利用しています
  </div>
</footer>


