
<header class="bg-gray-700 shadow p-4 fixed top-0 left-0 w-full z-50">
  <div class="container mx-auto flex items-center">
    <h1 class="text-xl font-bold flex-shrink-0">
      <%= link_to "ðŸŒ™ TOKK_LOG.", sake_logs_path, class: "text-yellow-500" %>
    </h1>

    <nav class="ml-auto space-x-4">
      <% if user_signed_in? %>
        <%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, method: :delete, data: { turbo_method: :delete, confirm: "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆã—ã¾ã™ã‹ï¼Ÿ" }, class: "text-red-500 hover:underline" %>
      <% else %>
        <%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path, class: "text-yellow-600 hover:underline" %>
        <%= link_to "æ–°è¦ç™»éŒ²", new_user_registration_path, class: "text-yellow-600 hover:underline" %>
      <% end %>
    </nav>
  </div>
</header>
